*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-weight: 500;

    /* color: rgb(153,0,18);
    background-color: rgb(224,178,183); */
}

html{
    /* background-color: rgb(219,238,251); */
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    /* background-color: rgb(224,178,183); */
    /* background-color: rgb(252,246,246); */
    /* background-image: linear-gradient(to right, #ffafbd , #ffc3a0); */
    background-image: linear-gradient(to right, #f1f3f6 ,white); 
    /* #aa076b → #61045f */
    /* #D7E1EC
👉🏼
#FFFFFF */
}

.header-bar {
    width: 100%;
    height: 50px;
    /* background-color: rgb(153,0,18); */
    background-image: linear-gradient(to right, #F1A7F1 , #FAD0C4);
    position: sticky;
    top: 0px;
    z-index: 2;
    color: black;
}

#todo-app-name{
    font-size: 32px;
    line-height: 1.4;
}

.todo-list-container{
    /* margin: 2px solid black; */
    /* height: 300px; */
    min-width: 480px;
    width: 100%;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: auto;
    margin-top: 63px;
    /* background: rgb(252,246,246); */
}

.todo-list-container > div{
    margin: 2px solid black;
}

.todo-addition{
    width: 80%;
    height: 44px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-holder{
    width: 80%;
    height: 41px;
    border: 2px solid green;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5px;
    
    
}

form{
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.input-field{
    width: 85%;
    height: 36px;
    border: transparent; 
    /* background-color: rgb(252,246,246); */
    background-color: transparent;
    
}

.input-field:focus{
    outline: none;
}

.clipboard-icon{
    color: rgb(153,0,18);
    padding-left: 15px;
}

.complete-and-clear-task{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%; 
}

#submit-button{
    border: 0px;
}

#circle-plus-icon{
    font-size: 29px;
    color: rgb(153,0,18);
    padding-right: 15px;
    /* background: white; */
    background-color: rgb(252,246,246);;
    border: transparent;
}

.task-list{
    width: 80%;
}

ul{
    width: 100%;
}

li{
    width: 100%;
    border: 2px solid rgb(72 61 58 / 0.34);
    margin: 2px 0px;
}

.task-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding-top: 5px;
}

.task-left-container{
    display: inline;
}

.tasks-data-container{
    display: inline;
}

li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-square-check, .fa-square{
    padding: 0px 10px;
}
.fa-square-check{
    color: green;
}
.fa-square{
    color: red;
}
.fa-trash{
    padding-right: 3px;
}

.fa-square-check:hover, .fa-square:hover, .fa-trash:hover, #circle-plus-icon:hover{
    cursor: pointer;
    transform: scale(1.02);
}


.btn {
    border: none;
    background-color: inherit;
    padding: 5px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    border: 2px solid black;
    border-radius: 8px;
}
  
  /* On mouse-over */
.btn:hover {
    background: white;
    transform: scale(1.03);
}

.success {color: green;}
.info {color: dodgerblue;}
.warning {color: orange;}
.danger {color: red;}
.default {color: black;}

@media only screen and (max-width: 992px) {
    .todo-list-container{
        width: 100%;
    }
    li span:first-child {
        width:65%;
      } 
}


